!!!
%html
  %head
    %meta{charset: "UTF-8"}/
    %title Pablo Marambio Cathalifaud
    %meta{content: "width=device-width, maximum-scale=1.0; user-scalable=0", name: "viewport"}/
    %meta{content: "yes", name: "apple-mobile-web-app-capable"}/
    %meta{content: "Dennis Adelmann, a communication designer based in Mannhem/Germany", name: "description"}/
    %meta{content: "designer, mannheim, mannheim designer, kommunikationsdesign, graphic design, communication design, communication designer", name: "keywords"}/
    %link{href: "assets/favicon.ico", rel: "shortcut icon"}/
    %link{href: "http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700", rel: "stylesheet", type: "text/css"}/
    = stylesheet_link_tag "application", :media => "all"
    /[if lte IE 6]
      <style>#top, #bottom, #left, #right { display: none; }</style>
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', '', '');
      ga('send', 'pageview');
  %body
    #preloader
      #status
        %p Pablo Marambio Cathalifaud
    #fademenu
      #weather2
      .logo
        %img{alt: "logo", src: "assets/mugshot-mini.png"}/
      .navscroll
        %a.current{href: "/"} yo
        %a{href: "http://disclosureallowed.com"} blog
        %a{href: "mailto:yo@pablomarambio.cl"} contacto
    #left
    #right
    #top
    #bottom
    %header
      %nav
        %a.current{href: "/"} yo
        %a{href: "http://disclosureallowed.com"} blog
        %a{href: "mailto:yo@pablomarambio.cl"} contacto
      #weather
    #name2
      .name_inner
        %h1
          Pablo Marambio
          %br>/
          Ingeniero & Emprendedor
          %br>/
          Santiago, Chile
    .wrapper
      / wrapper anfang
      #grid_wrapper
        %ul.grid.cs-style-1
          %li
            %figure
              = image_tag "assets/logos/linkedin-normal-1506.png", alt: "Currículum Vitae"
              %figcaption
                %h3 Currículum y experiencia
                —
                %span CV en Linkedin
                %a{href: "http://cl.linkedin.com/in/pablomarambio"} echar un vistazo
          %li
            %figure
              = image_tag "assets/logos/blog-normal-1506.png", alt: "Blog"
              %figcaption
                %h3 Disclosure Allowed
                —
                %span Blog personal
                %a{href: "http://disclosureallowed.com"} echar un vistazo
          %li
            %figure
              = image_tag "assets/logos/twitter-normal-1506.png", alt: "Twitter"
              %figcaption
                %h3 Mi twitter
                —
                %span Pensamientos en 140 caracteres
                %a{href: "https://twitter.com/pablomarambio"} echar un vistazo
          %li
            %figure
              = image_tag "assets/logos/opinion-normal-1506.png", alt: "Opiniones ideas"
              %figcaption
                %h3 Opiniones & ideas
                —
                %span Blog personal
                %a{href: "http://disclosureallowed.com/category/opinion/"} echar un vistazo
          %li
            %figure
              = image_tag "assets/logos/so-normal-1506.png", alt: "Stack Overflow"
              %figcaption
                %h3 Stackoverflow.com
                —
                %span Perfil en Stackoverflow
                %a{href: "http://stackoverflow.com/users/18552/pablo-marambio"} echar un vistazo
          %li
            %figure
              = image_tag "assets/logos/github-normal-1506.png", alt: "Github"
              %figcaption
                %h3 Github
                —
                %span Perfil en Github
                %a{href: "https://github.com/pablomarambio"} echar un vistazo
      / /wrapper ende
    #copyright_wrapper2
      %p
        Copyright © 2014 Pablo Marambio Cathalifaud
    %script{src: "http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"}
    = javascript_include_tag "application"